# Video Game Sales

In [18]:
import pandas as pd

In [19]:
df= pd.read_csv("./vgsales.csv")

In [20]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### 1- Which company is the most common video game publisher?

In [51]:
most_common_publisher=df["Publisher"].mode()[0]
print(f"The most common video game publisher is {most_common_publisher}. ")

The most common video game publisher is Electronic Arts.

### 2- Whatâ€™s the most common platform?

In [52]:
most_common_platform=df["Platform"].mode()[0]
print(f"The most common platform is {most_common_platform}.")

The most common platform is DS.

### 3- What about the most common genre?

In [53]:
most_common_genre=df["Genre"].mode()[0]
print(f"The most common genre is {most_common_genre}.")

The most common genre is Action.

### 4- What are the top 20 highest grossing games?

In [66]:
top_twenty_highest_grossing_games=df.sort_values('Global_Sales', ascending=False).head(20)
print(top_twenty_highest_grossing_games)

    Rank                                          Name Platform    Year  \
0      1                                    Wii Sports      Wii  2006.0
1      2                             Super Mario Bros.      NES  1985.0
2      3                                Mario Kart Wii      Wii  2008.0
3      4                             Wii Sports Resort      Wii  2009.0
4      5                      Pokemon Red/Pokemon Blue       GB  1996.0
5      6                                        Tetris       GB  1989.0
6      7                         New Super Mario Bros.       DS  2006.0
7      8                                      Wii Play      Wii  2006.0
8      9                     New Super Mario Bros. Wii      Wii  2009.0
9     10                                     Duck Hunt      NES  1984.0
10    11                                    Nintendogs       DS  2005.0
11    12                                 Mario Kart DS       DS  2005.0
12    13                   Pokemon Gold/Pokemon Silver       GB  1999.0
13    14                                       Wii Fit      Wii  2007.0
14    15                                  Wii Fit Plus      Wii  2009.0
15    16                            Kinect Adventures!     X360  2010.0
16    17                            Grand Theft Auto V      PS3  2013.0
17    18                 Grand Theft Auto: San Andreas      PS2  2004.0
18    19                             Super Mario World     SNES  1990.0
19    20  Brain Age: Train Your Brain in Minutes a Day       DS  2005.0

           Genre               Publisher  NA_Sales  EU_Sales  JP_Sales  \
0         Sports                Nintendo     41.49     29.02      3.77
1       Platform                Nintendo     29.08      3.58      6.81
2         Racing                Nintendo     15.85     12.88      3.79
3         Sports                Nintendo     15.75     11.01      3.28
4   Role-Playing                Nintendo     11.27      8.89     10.22
5         Puzzle                Nintendo     23.20      2.26      4.22
6       Platform                Nintendo     11.38      9.23      6.50
7           Misc                Nintendo     14.03      9.20      2.93
8       Platform                Nintendo     14.59      7.06      4.70
9        Shooter                Nintendo     26.93      0.63      0.28
10    Simulation                Nintendo      9.07     11.00      1.93
11        Racing                Nintendo      9.81      7.57      4.13
12  Role-Playing                Nintendo      9.00      6.18      7.20
13        Sports                Nintendo      8.94      8.03      3.60
14        Sports                Nintendo      9.09      8.59      2.53
15          Misc  Microsoft Game Studios     14.97      4.94      0.24
16        Action    Take-Two Interactive      7.01      9.27      0.97
17        Action    Take-Two Interactive      9.43      0.40      0.41
18      Platform                Nintendo     12.78      3.75      3.54
19          Misc                Nintendo      4.75      9.26      4.16

    Other_Sales  Global_Sales
0          8.46         82.74
1          0.77         40.24
2          3.31         35.82
3          2.96         33.00
4          1.00         31.37
5          0.58         30.26
6          2.90         30.01
7          2.85         29.02
8          2.26         28.62
9          0.47         28.31
10         2.75         24.76
11         1.92         23.42
12         0.71         23.10
13         2.15         22.72
14         1.79         22.00
15         1.67         21.82
16         4.14         21.40
17        10.57         20.81
18         0.55         20.61
19         2.05         20.22

### 5- For North American video game sales, whatâ€™s the median?

In [61]:
na_median_sales= df['NA_Sales'].median()
print(f"The median for North American = {na_median_sales}.")

The median for North American = 0.08.

### Provide a secondary output showing ten games surrounding the median sales output

In [62]:
surr_sales=df[df['NA_Sales'] == 0.08][['Name','NA_Sales']].head(10)
surr_sales

                                                   Name  NA_Sales
446                                   Dragon Warrior IV      0.08
497         World Soccer Winning Eleven 7 International      0.08
1617                             Farming Simulator 2015      0.08
1926                          Pro Evolution Soccer 2008      0.08
2067  Winning Eleven: Pro Evolution Soccer 2007 (All...      0.08
2373                           Phantasy Star Portable 2      0.08
2579                               The Sims 2: Castaway      0.08
3186                                     SingStar Queen      0.08
3503                                         Top Spin 3      0.08
3703               Sonic & All-Stars Racing Transformed      0.08

### 6- For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [63]:
max=df['NA_Sales'].max()
std=df['NA_Sales'].std()
mean = df['NA_Sales'].mean()
ten_median_na_seller_names=(max-mean)/std
print(ten_median_na_seller_names)

50.47898767479108

### 7- The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [64]:
wii=df[df['Platform']=='Wii']
wii_mean=wii['Global_Sales'].mean()
print(f'wii mean = {wii_mean}')
others=df[df['Platform']!='Wii']
others_mean=others['Global_Sales'].mean()
print(f'others mean = {others_mean}')

wii mean = 0.6994037735849057
others mean = 0.5233896418516336

In [67]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names, 50.47898767479108)
    assert_equal(wii_mean, 0.6994037735849057)
    assert_equal(others_mean, 0.5233896418516336)
    

    print("Success!!!")

test()

Success!!!